<div class="login-main-container">
  <div class="image-container">
    <img class="login-image" src="../../../assets/images/illustrations/login-ill.png">
  </div>
  <div class="form-container">
    <form class="form" [formGroup]="loginForm">
      <label class="login-label" for="username">Name</label>
      <input id="username" class="input-row" type="text" formControlName="username" placeholder="Name">
      <div class="password-container">
        <label class="login-label" for="password">Password</label>
        <input id="password" class="input-row" type="password" formControlName="password" placeholder="********">
        <span (click)="showHidePass($event, 'password')" class="icon-hide-pass pass-icon"></span>
      </div>
      <button class="submit-button button-filled" type="submit" (click)="login()">Login</button>
    </form>
  </div>
</div>
