<div class="main-container">
    <div class="header">My favourites</div>
    <div class="items-container" *ngIf="!isLoading; else loader">
        <ng-container *ngIf="favourites.length; else noData">
            <ng-container *ngFor="let product of favourites">
                <app-product-single [product]="product"
                                    [pageOption]="pageOptions.favourites"
                                    (removeFromFavorites)="remove($event)"></app-product-single>
            </ng-container>
        </ng-container>
    </div>
</div>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
<ng-template #noData>
    <div class="no-data-text">
        There are no items to show.
    </div>
</ng-template>
