<mat-dialog-content>
    <div class="description">
        Order Confirmation
    </div>
    <div class="payment-options">
        <div class="header">Payment type</div>
        <ng-container *ngFor="let type of paymentTypes">
            <div class="option-container" (click)="setSelectedValue(type.id)">
                <span [ngClass]="type.id === selectedPaymentType ? 'icon-circle-checked selected' : 'icon-circle-empty'" class="icon"></span>
                <span class="text">{{type.name}}</span>
            </div>
        </ng-container>
    </div>
    <div class="header">Notes</div>
    <div class="comment-container">
        <textarea placeholder="type here ..." #comment></textarea>
    </div>
    <div class="total-text">Total count: <span class="data">{{data.total_count}}</span></div>
    <div class="total-text">Total amount: <span class="data">{{data.total_price}} AMD</span></div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="btn btn-primary" mat-button [mat-dialog-close]="orderData"
            [disabled]="!selectedPaymentType">Confirm</button>
    <button class="btn btn-white" mat-button [mat-dialog-close]="false">Discard</button>
</mat-dialog-actions>
