<footer class="ftco-footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Coffee Lab</h2>
          <p class="soc-text">Find us on Facebook and Instagram.</p>
          <div class="icons-container">
            <span class="icon-facebook soc-icon"></span>
            <span class="icon-instagram soc-icon"></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Open Hours</h2>
          <ul class="list-unstyled open-hours">
            <li class="d-flex"><span>Monday</span><span>10:00 - 24:00</span></li>
            <li class="d-flex"><span>Tuesday</span><span>10:00 - 24:00</span></li>
            <li class="d-flex"><span>Wednesday</span><span>10:00 - 24:00</span></li>
            <li class="d-flex"><span>Thursday</span><span>10:00 - 24:00</span></li>
            <li class="d-flex"><span>Friday</span><span>10:00 - 24:00</span></li>
            <li class="d-flex"><span>Saturday</span><span>10:00 - 24:00</span></li>
            <li class="d-flex"><span>Sunday</span><span>10:00 - 24:00</span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Location</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy; All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
