::ng-deep {
    mat-dialog-container {
        background-color: #f2f2f0 !important;
    }
}

mat-dialog-actions {
    justify-content: space-evenly;
    .btn {
        border-radius: 15px;
        &.disabled {
            opacity: 30%;
            pointer-events: none;
        }
    }
}

mat-dialog-content {
    .header {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 600;
        .price {
            color: #EABE5E;
        }
    }
    .description {
        font-size: 17px;
        color: #969595;
    }
    .single-option {
        margin: 14px 0;
        .option-name {
            font-size: 16px;
            color: #969595;
            text-transform: uppercase;
        }
        .options {
            display: flex;
            justify-content: space-between;
            margin-top: 4px;
            .one-forth {
                font-size: 14px;
                width: 20%;
                border-radius: 15px;
                border: 1px solid #e6e6e6;
                text-align: center;
                cursor: pointer;
                background-color: #ffffff;
                &.selected {
                    background-color: #EABE5E;
                    color: #ffffff;
                }
            }
            .one-third {
                @extend .one-forth;
                width: 30%;
            }
        }
        .quantity-container {
            display: flex;
            .icon {
                width: 30px;
                cursor: pointer;
                font-size: 18px;
                height: 30px;
                line-height: 30px;
            }
            span {
                border: 1px solid #e6e6e6;
                display: inline-block;
                text-align: center;
                background-color: #ffffff;
            }
            .minus {
                @extend .icon;
                border-radius: 15px 0 0 15px;
                &.disabled {
                    color: rgba(0, 0, 0, 0.2);
                    pointer-events: none;
                }
            }
            .count {
                width: 40px;
                border-right: none;
                border-left: none;
                font-size: 14px;
            }
            .plus {
                @extend .icon;
                border-radius: 0 15px 15px 0;
            }
        }
        &.disabled {
            opacity: 50%;
            pointer-events: none;
        }
    }
}
