<mat-dialog-content>
    <div class="header">
        <span class="name">{{getName(product) | titlecase}}</span>
        <span class="price">{{(product.price + addingPrice) * product.count}} AMD</span>
    </div>
    <div class="description">
        {{ 'MESSAGES.MODAL-CHOOSE-OPTIONS' | translate }}
    </div>
    <div *ngIf="product.has_sugar" class="single-option">
        <div class="option-name">{{ 'PRODUCTS.PROPERTIES.SUGAR.NAME' | translate }}</div>
        <div class="options">
            <span class="one-third"
                  [class.selected]="selectedSugarOption === sugarOptions.without"
                  (click)="setSugarOption(sugarOptions.without)">
                {{ 'PRODUCTS.PROPERTIES.SUGAR.OPTIONS.WITHOUT' | translate }}</span>
            <span class="one-third"
                  [class.selected]="selectedSugarOption === sugarOptions.medium"
                  (click)="setSugarOption(sugarOptions.medium)">
                {{ 'PRODUCTS.PROPERTIES.SUGAR.OPTIONS.MEDIUM' | translate }}</span>
            <span class="one-third"
                  [class.selected]="selectedSugarOption === sugarOptions.sweet"
                  (click)="setSugarOption(sugarOptions.sweet)">
                {{ 'PRODUCTS.PROPERTIES.SUGAR.OPTIONS.SWEET' | translate }}</span>
        </div>
    </div>
    <div *ngIf="allAddings.length" class="single-option">
        <div class="option-name">{{ 'PRODUCTS.PROPERTIES.ADD-ON.NAME' | translate }}</div>
        <div class="options">
            <ng-container *ngFor="let adding of allAddings">
                <span class="one-third" [class.selected]="selectedAddings.includes(adding.id)"
                      (click)="setAddingAndUpdatePrice(adding.id)">
                    {{ getProductName(adding) | titlecase }}</span>
            </ng-container>
        </div>
    </div>
    <div *ngIf="product.product_id === mix_id" class="single-option">
        <div class="option-name">{{ 'PRODUCTS.PROPERTIES.FRUITS' | translate }}</div>
        <div class="options">
            <ng-container *ngFor="let mix of allMixes">
                <span class="one-third" [class.selected]="selectedMixes.includes(mix.id)" [class.disabled]="!mix.in_stock"
                      (click)="setMixesAndUpdatePrice(mix.id)">
                    {{ getProductName(mix) | titlecase }}</span>
            </ng-container>
        </div>
    </div>
    <div class="single-option quantity">
        <div class="option-name">{{ 'PRODUCTS.PROPERTIES.QUANTITY' | translate }}</div>
        <div class="quantity-container">
            <span class="icon-minus-simple minus" [class.disabled]="product.count <= minAllowedQuantity"
                  (click)="decrease()"></span>
            <span class="count">{{product.count}}</span>
            <span class="icon-plus-simple plus" (click)="increase()"></span>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="btn btn-primary" [class.disabled]="!selectedSugarOption && !selectedAddings.length ||
    (product.product_id === mix_id ? !selectedMixes.length : false)"
            mat-button [mat-dialog-close]="createdOrUpdatedProductData">{{data.confirm_button_name | translate}}</button>
    <button class="btn btn-white" mat-button [mat-dialog-close]="false">{{ 'BUTTONS.DISCARD' | translate }}</button>
</mat-dialog-actions>
