<div class="login-main-container">
    <div class="image-container">
        <img class="login-image" src="../../../assets/images/illustrations/auth-ill.png">
    </div>
    <div class="form-container">
        <div class="header">
            {{ 'AUTH.WELCOME' | translate }}
        </div>
        <div class="form">
            <button class="login-button button-unfilled" routerLink="/user/login" type="submit">
                {{ 'AUTH.LOGIN' | translate }}</button>
            <button class="submit-button button-filled" routerLink="/user/register" type="submit">
                {{ 'AUTH.REGISTER' | translate }}</button>
        </div>
    </div>
</div>
