<div class="col-md-12 col-lg-6 d-flex align-self-stretch">
    <div class="menus d-sm-flex ftco-animate align-items-stretch">
        <div class="menu-img">
            <img class="item-img" src="../../../assets/images/breakfast-2.jpg">
        </div>
        <div class="name-container">
            <span class="name"><h3>{{product.name_en | titlecase}}</h3></span>
            <span (click)="changeFavoriteState()" [class.filled-icon]="isFavorite"
                  class="icon-heart favorite-icon"></span>
        </div>
        <div class="quantity">
          <span class="count">
            <span class="icon-minus rounded-icon"></span>
            <span>{{product.count}}</span>
            <span class="icon-plus rounded-icon"></span>
          </span>
        </div>
        <div class="total-price">
            <span class="price-title">Total price</span>
            <span class="price">{{product.price * product.count}} AMD</span>
        </div>
        <div class="icon">
            <span (click)="removeFromCart()" class="icon-bin remove-icon"></span>
        </div>
    </div>
</div>
