<div class="col-md-12 col-lg-6 d-flex align-self-stretch">
    <div class="menus d-sm-flex ftco-animate align-items-stretch">
        <div class="menu-img single-row">
            <img class="item-img" src="../../../assets/images/mojito.jpg">
        </div>
        <div class="name-container single-row">
            <span class="name"><h3>{{product.name_en | titlecase}}</h3></span>
        </div>
        <div class="quantity single-row">
          <span class="count">
            <span [class.disabled]="product.count_in_cart === 1"
                  class="icon-minus1 rounded-icon" (click)="decrease()"></span>
            <span class="number-container">{{product.count_in_cart}}</span>
            <span class="icon-plus rounded-icon" (click)="increase()"></span>
          </span>
        </div>
        <div class="total-price single-row">
            <span class="price-title">Total price</span>
            <span class="price">{{product.price * product.count_in_cart}} AMD</span>
        </div>
        <div class="icon single-row">
            <span (click)="removeFromCart()" class="icon-bin remove-icon"></span>
        </div>
    </div>
</div>
