<div class="col-md-12 col-lg-6 d-flex align-self-stretch" [class.disabled]="!product.item.in_stock">
    <div class="menus d-sm-flex ftco-animate align-items-stretch">
        <div class="menu-img img">
            <img class="image" [src]="product.item.image_path" alt="">
        </div>
        <div class="text-container align-items-center">
            <div class="right-side">
                <div>
                    <div class="add-on-data-single single-row centered">
                        <span class="name">{{getName(product.item) | titlecase}}</span>
                        <ng-container *ngIf="product.mix_ids.length">
                            <span class="add-on-text">{{'(' + (getMixes(product.mix_ids) | titlecase) + ')'}}</span>
                        </ng-container>
                    </div>
                    <div *ngIf="product.item.has_sugar" class="add-on-data-single single-row">
                        <span class="text-title">{{ 'PRODUCTS.PROPERTIES.SUGAR.NAME' | translate }}</span>
                        <span class="add-on-text">{{getSugarOption()}}</span>
                    </div>
                    <div *ngIf="product.adding_ids.length" class="add-on-data-single single-row">
                        <div class="text-title">{{ 'PRODUCTS.PROPERTIES.ADD-ON' | translate }}</div>
                        <div class="main-text">
                            <ng-container *ngIf="product.adding_ids.length; else noAddingTpl">
                                <ng-container *ngFor="let id of product.adding_ids">
                                    <span class="add-on-text">{{getAddingName(id) | titlecase}}</span>
                                </ng-container>
                            </ng-container>
                            <ng-template #noAddingTpl>
                                <span class="add-on-text">-</span>
                            </ng-template>
                        </div>
                    </div>
                    <div class="add-on-data-single single-row">
                        <span class="text-title">{{ 'PRODUCTS.PROPERTIES.QUANTITY' | translate }}</span>
                        <span class="add-on-text">{{product.count}}</span>
                    </div>
                    <div class="add-on-data-single single-row">
                        <span class="text-title">{{ 'MAIN-PHRASES.TOTAL-PRICE' | translate }}</span>
                        <span class="price">{{product.price * product.count}} AMD</span>
                    </div>
                    <div *ngIf="!product.item.in_stock" class="one-forth">
                        <span class="message">{{ 'MESSAGES.PRODUCT-NOT-AVAILABLE' |translate }}</span>
                    </div>
                    <div class="icon single-row">
                        <span (click)="openAddOnModal(product)" class="icon-edit edit-icon"></span>
                        <span (click)="openConfirmationModal()" class="icon-bin remove-icon"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
