.d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.col-md-12, .col-lg-6 {
    position: relative;
    width: 100%;
    height: 250px;
    padding: 0 10px 20px 10px;
}

.menus {
    width: 100%;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    .menu-img {
        margin: auto 0;
        .image {
            height: auto;
            width: 180px;
            max-width: 100%;
            border-radius: 5px;
        }
    }

    .text {
        padding: 20px;
        border-radius: 0 5px 5px 0;

        .right-side {
            width: 100%;

            .message {
                font-size: 14px;
                color: #cc2131;
                font-weight: 500;
            }
        }

        .one-half {
            .name {
                font-size: 16px;
                font-weight: 600;
                display: inline-block;
                line-height: 1.5;
                color: #333333;
            }

            .favorite-icon {
                margin: 5px 0 0 10px;
                font-size: 18px;
                color: #dedada;
                float: right;
                cursor: pointer;
            }
        }

        .one-forth {
            .price {
                font-size: 16px;
                color: #EABE5E;
                font-weight: 600;
                line-height: 1.3;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
        }

        p {
            margin: 20px 0 0 0;
            color: rgba(0, 0, 0, 0.8);
        }
    }
}

.filled-icon {
    color: #d62974 !important;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

@media (min-width: 768px) {
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .menus {
        .text {
            border-radius: 0 0 5px 5px;
        }
    }
}


@media (max-width: 530px) {
    .col-lg-6 {
        height: auto;
        justify-content: center;
    }
    .menus {
        flex-direction: column;
        width: 360px;
        .menu-img {
            padding-top: 10px;
            align-self: center;
        }
        .text {
            padding: 10px;
            margin: 0;
            justify-content: center;
            p {
                margin: 10px 0 0 0;
            }
            .one-half {
                .name {
                    margin: 0;
                }
            }
            .right-side {
                width: auto;
                min-width: 180px;
            }
        }
    }
}
