<div class="col-md-12 col-lg-6 d-flex align-self-stretch">
    <div class="menus d-sm-flex ftco-animate align-items-stretch">
        <div class="menu-img img">
            <img class="image" src="assets/images/mojito.jpg" alt="">
        </div>
        <div class="text d-flex align-items-center">
            <div class="right-side">
                <div>
                    <div class="one-half">
                        <span class="name">{{product.name_en | titlecase}}</span>
                        <span *ngIf="!authUser || userType !== userTypes.admin" (click)="changeFavoriteState()"
                              [class.filled-icon]="product.is_favourite" class="icon-heart favorite-icon"></span>
                    </div>
                    <div class="one-forth">
                        <span class="price">{{product.price}} AMD</span>
                    </div>
                </div>
                <p *ngIf="!authUser || userType !== userTypes.admin">
                    <a (click)="openDialog(product)" class="btn btn-primary">
                        {{ 'BUTTONS.ADD-TO-CART' | translate }}</a></p>
            </div>
        </div>
    </div>
</div>
