<mat-dialog-content>
    <div class="header">
        <span class="name">{{product.name_en | titlecase}}</span>
        <span class="price">{{(product.price + addingPrice) * product.count}} AMD</span>
    </div>
    <div class="description">
        Please choose options for add-ons
    </div>
    <div class="single-option">
        <div class="option-name">Sugar</div>
        <div class="options">
            <span class="one-third"
                  [class.selected]="selectedSugarOption === sugarOptions.without"
                  (click)="setSugarOption(sugarOptions.without)">Without</span>
            <span class="one-third"
                  [class.selected]="selectedSugarOption === sugarOptions.medium"
                  (click)="setSugarOption(sugarOptions.medium)">Medium</span>
            <span class="one-third"
                  [class.selected]="selectedSugarOption === sugarOptions.sweet"
                  (click)="setSugarOption(sugarOptions.sweet)">Sweet</span>
        </div>
    </div>
    <div class="single-option">
        <div class="option-name">Add on</div>
        <div class="options">
            <span class="one-third"
                  [class.selected]="selectedAddingOptions.includes(addingOptions.milk)"
                  (click)="setAddingOptionAndUpdatePrice(addingOptions.milk)">Milk</span>
            <span class="one-third"
                  [class.selected]="selectedAddingOptions.includes(addingOptions.iceCream)"
                  (click)="setAddingOptionAndUpdatePrice(addingOptions.iceCream)">Ice Cream</span>
            <span class="one-third"
                  [class.selected]="selectedAddingOptions.includes(addingOptions.nutella)"
                  (click)="setAddingOptionAndUpdatePrice(addingOptions.nutella)">Nutella</span>
        </div>
    </div>
    <div class="single-option">
        <div class="option-name">Quantity</div>
        <div class="quantity-container">
            <span class="icon-minus-simple minus" [class.disabled]="product.count <= minAllowedQuantity"
                  (click)="decrease()"></span>
            <span class="count">{{product.count}}</span>
            <span class="icon-plus-simple plus" (click)="increase()"></span>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="btn btn-primary" [class.disabled]="!selectedSugarOption || !selectedAddingOptions"
            mat-button [mat-dialog-close]="createdOrUpdatedProductData">{{data.confirm_button_name}}</button>
    <button class="btn btn-white" mat-button [mat-dialog-close]="false">Discard</button>
</mat-dialog-actions>
