.header-main-container {
    height: 80px;
    padding: 0 50px;
    background-color: rgb(20, 19, 19);
    color: #ffffff;

    .left-side {
        width: 50%;
        float: left;
        display: flex;
        align-items: center;
        height: 80px;

        .name-container {
            font-size: 30px;
            font-weight: bolder;
        }
    }

    .right-side {
        float: right;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;

        .header-item {
            display: flex;
            align-items: center;
            cursor: pointer;

            .menu-icon {
                padding-right: 5px;
            }
            .order {
                font-size: 20px;
            }

            .menu-cart-icon {
                position: relative;
                padding-right: 15px;

                .item-count {
                    position: absolute;
                    font-size: 12px;
                    background-color: #cc2131;
                    border-radius: 50%;
                    width: 14px;
                    height: 14px;
                    text-align: center;
                    top: -6px;
                    left: 10px;
                }
            }
        }
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 54px;
    right: 38px;
    background-color: #ffffff;
    min-width: 130px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    border-radius: 6px;
    .option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        cursor: pointer;
        padding: 0 10px;
        .text {
            font-weight: normal;
            font-size: 14px;
            color: #333333;
        }
        .flag-img {
            width: 30px;
            height: 30px;
        }
        &:hover {
            background-color: #ddd;
        }
    }
}
.show {
    display: block;
}

@media (max-width: 1000px) {
    .header-main-container {
        .left-side {
            width: 30%;
        }

        .right-side {
            width: 70%;
        }
    }
}

@media (max-width: 768px) {
    .header-main-container {
        padding: 0 20px;
        .left-side {
            display: none;
        }

        .right-side {
            width: 100%;
        }
    }
}

@media (max-width: 576px) {
    .header-main-container {
        .right-side {
            .menu-item-name {
                display: none;
            }
        }
    }
}
