<div class="header-main-container">
    <div class="left-side">
    <span class="name-container">
      Coffee Lab
    </span>
    </div>
    <div class="right-side">
        <div class="header-item" routerLink="/dashboard/menu/1">
            <span class="icon-menu menu-icon"></span>
            <span class="menu-item-name">Menu</span>
        </div>
        <ng-container *ngIf="isAuthUser">
            <div class="header-item" routerLink="/dashboard/cart">
        <span class="icon-cart menu-cart-icon">
          <span class="item-count">{{itemsInCart}}</span>
        </span>
                <span class="menu-item-name">Cart</span>
            </div>
            <div class="header-item" routerLink="/dashboard/favourites">
                <span class="icon-heart menu-icon"></span>
                <span class="menu-item-name">Favorites</span>
            </div>
        </ng-container>
        <ng-container *ngIf="!isAuthUser">
            <div class="header-item" routerLink="/user/auth">
                <span class="icon-log-in menu-icon"></span>
                <span class="menu-item-name">Log in</span>
            </div>
        </ng-container>
        <ng-container *ngIf="isAuthUser">
            <div (click)="logOut()" class="header-item">
                <span class="icon-log-out menu-icon"></span>
                <span class="menu-item-name">Log out</span>
            </div>
        </ng-container>
        <div class="header-item">
            <span class="icon-languages menu-icon"></span>
        </div>
    </div>
</div>
