.main-container {
    display: inline-block;
    width: 100%;
    padding: 120px 50px 50px 50px;

    .header {
        margin-bottom: 55px;
        font-size: 26px;
        text-transform: capitalize;
        font-weight: 600;
        border-bottom: 1px solid #666666;
    }

    .table-container {
        display: table;
        width: 100%;

        .table-cell {
            display: table-cell;
            border-bottom: 1px solid;
            margin-bottom: 10px;
            width: 25%;
        }

        .table-row {
            display: table-row;
        }

        .table-header {
            font-weight: bold;
            font-size: 20px;
        }

        .filter {
            margin-left: 10px;
        }
        .category {
            cursor: pointer;
        }
    }

    .red-colored {
        color: #F64444;
    }

    .green-colored {
        color: #7CFC00;
    }

    .button {
        cursor: pointer;
        border: none;
        border-radius: 8px;
        padding: 4px 8px;
        color: #ffffff;
        background-color: transparent;
        outline: none;

        &.red {
            border-color: #F64444;
            background-color: #F64444;
        }

        &.green {
            border-color: #7CFC00;
            background-color: #7CFC00;
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 160px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
        .option {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0;
            font-size: 14px;
            font-weight: normal;
            cursor: pointer;
            padding: 0 10px;
            &:hover {
                background-color: #ddd;
            }
        }
    }
    .show {
        display: block;
    }
    .search-container {
        display: flex;
        align-items: center;
        justify-content: right;
        margin: 0 4px 30px 0;
        input {
            border-radius: 6px;
            padding: 4px;
        }
        .search {
            margin-left: -20px;
            cursor: pointer;
        }
    }
}
