<div class="main-container">
    <div class="header">Products in the stock</div>
    <div class="search-container">
        <input (keyup)="search()" type="text" placeholder="Search.." [(ngModel)]="searchWord">
        <span class="icon-search search"></span>
    </div>
    <div class="table-container" *ngIf="!isLoading; else loader">
        <div class="table-cell table-header">Name</div>
        <div class="table-cell table-header">
            <div class="category" (click)="openDropdown()">
                <span>Category</span>
                <span class="icon-filter filter"></span>
            </div>
            <div id="myDropdown" class="dropdown-content">
                <ng-container *ngFor="let category of ingredientCategories">
                    <div class="option" (click)="filterByCategory(category.id)">
                        <span>{{category.name | titlecase}}</span>
                        <span *ngIf="category.selected" class="icon-selected"></span>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="table-cell table-header">Current state</div>
        <div class="table-cell table-header">Change state</div>
        <ng-container *ngFor="let ingredient of ingredients">
            <div class="table-row">
                <div class="table-cell">
                    {{ingredient.name_en | titlecase}}
                </div>
                <div class="table-cell">
                    {{getCategoryName(ingredient.category_id) | titlecase}}
                </div>
                <div class="table-cell">
                    <span [ngClass]="ingredient.in_stock ?
                     'icon-available green-colored' : 'icon-not-available red-colored'"></span>
                </div>
                <div class="table-cell">
                    <button class="button" [ngClass]="ingredient.in_stock ? 'red' : 'green'"
                            (click)="changeAvailability(ingredient.id, ingredient.in_stock)">
                        Mark as {{ingredient.in_stock ? 'not available' : 'available'}}
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
    <ng-template #loader>
        <app-loader></app-loader>
    </ng-template>
</div>
