<div class="login-main-container">
    <div class="image-container">
        <img class="login-image" src="../../../assets/images/illustrations/register-ill.png">
    </div>
    <div class="form-container">
        <form [formGroup]="registerForm" class="form">
            <label class="login-label" for="username">{{ 'AUTH.NAME' | translate }}</label>
            <input class="input-row" formControlName="username" id="username"
                   [placeholder]="'AUTH.NAME' | translate" type="text">
            <label class="login-label" for="phone">{{ 'AUTH.PHONE' | translate }}</label>
            <input class="input-row" formControlName="phone" id="phone" placeholder="+374 ( )" type="text">
            <div class="password-container">
                <label class="login-label" for="password1">{{ 'AUTH.PASSWORD' | translate }}</label>
                <input class="input-row" formControlName="password" id="password1" placeholder="********"
                       type="password">
                <span (click)="showHidePass($event, 'password1')" class="icon-hide-pass pass-icon"></span>
            </div>
            <div class="password-container">
                <label class="login-label" for="password2">{{ 'AUTH.CONFIRM-PASSWORD' | translate }}</label>
                <input class="input-row" formControlName="password_confirmation" id="password2" placeholder="********"
                       type="password">
                <span (click)="showHidePass($event, 'password2')" class="icon-hide-pass pass-icon"></span>
            </div>
            <button (click)="registerUser()" class="submit-button button-filled" type="submit">
                {{ 'AUTH.REGISTER' | translate }}</button>
        </form>
    </div>
</div>
