.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    .message {
        color: #333333;
    }
    .close-icon {
        font-size: 14px;
        color: #EABE5E;
        cursor: pointer;
    }
}

::ng-deep {
    .mat-snack-bar-container {
        background-color: #ffffff;
        padding: 10px;
    }
}
