<footer class="ftco-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Coffee Lab</h2>
                    <p class="soc-text">{{ 'FOOTER.FIND-US' | translate }}</p>
                    <div class="icons-container">
                        <a href="https://www.facebook.com/Coffeelab.co"><span class="icon-facebook soc-icon"></span></a>
                        <a href="https://www.instagram.com/coffee_lab_co/?igshid=YmMyMTA2M2Y="><span
                                class="icon-instagram soc-icon"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">{{ 'FOOTER.HOURS' | translate }}</h2>
                    <ul class="list-unstyled open-hours">
                        <li class="d-flex hours">
                            <span class="days-label">{{ 'FOOTER.DAYS' | translate }}</span>
                            <span>10:00 - 00:00</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">{{ 'FOOTER.LOCATION' | translate }}</h2>
                    <ul class="list-unstyled open-hours">
                        <li class="d-flex address">
                            <div>
                                <span class="icon-location"></span>
                                <span class="days-label">{{ 'FOOTER.ADDRESS.MARGARYAN' | translate }}</span>
                            </div>
                            <div>
                                <span class="icon-location"></span>
                                <span class="days-label">{{ 'FOOTER.ADDRESS.HALABYAN' | translate }}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
