.ftco-footer {
    font-size: 14px;
    background: #141313;
    padding: 30px 0;

    .ftco-footer-widget {
        h2 {
            color: #fff;
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 700;
        }

        ul li a span {
            color: #fff;
        }

        .open-hours li span {
            color: rgba(255, 255, 255, 0.7);
        }
        .hours {
            display: flex;
            .days-label {
                margin-right: 20px;
            }
        }
        .address {
            @extend .hours;
            flex-direction: column;
            div span {
                margin-right: 10px;
            }
        }
    }

    p, a {
        color: rgba(255, 255, 255, 0.7);
    }

    .soc-text {
        margin-bottom: 30px;
    }

    .icons-container {
        .soc-icon {
            font-size: 20px;
            cursor: pointer;
            margin-right: 20px;
            color: #ffffff;
            background-color: rgba(255, 255, 255, 0.05);
            border-radius: 50%;
            padding: 10px;
        }
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 5px;
}

.col-md-6, .col-md-12, .col-lg-3 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


@media (min-width: 768px) {
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
        flex: 0 0 33.3%;
        max-width: 33.3%;
    }
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
}


.list-unstyled {
    padding-left: 0;
    list-style: none;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #EABE5E;
}

a:hover, a:focus {
    text-decoration: none;
    color: #EABE5E;
    outline: none !important;
}

.row mb-5 {
    display: flex;
    justify-content: space-between;
}
