.col-md-12, .col-lg-6 {
  position: relative;
  width: 100%;
  height: 250px;
  padding: 0 10px 20px 10px;
}

.menus {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  .menu-img {
    width: 50%;
    border-radius: 5px 0 0 5px;
  }
  .text {
    width: 50%;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 0 5px 5px 0;
    .right-side {
      width: 100%;
    }
    .desc-text {
      margin-bottom: 10px;
    }
    .one-half {
      h3 {
        font-size: 20px;
        font-weight: 600;
        display: inline-block;
      }
      .favorite-icon {
        margin: 6px 0 0 20px;
        font-size: 20px;
        color: #dedada;
        float: right;
        cursor: pointer;
      }
    }
    .one-forth {
      .price {
        font-size: 20px;
        color: #EABE5E;
        font-weight: 600;
        line-height: 1.3;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    }
    p {
      margin-bottom: 0;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  color: #333333;
  font-weight: 400;
}

.filled-icon {
  color: #d62974 !important;
}

.btn {
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.1);
}
.btn:hover, .btn:active, .btn:focus {
  outline: none;
}
.btn.btn-primary {
  background: #EABE5E;
  border: 1px solid #EABE5E;
  color: #fff;
}
.btn.btn-primary:hover {
  border: 1px solid #EABE5E;
  background: transparent;
  color: #EABE5E;
}
.btn.btn-primary.btn-outline-primary {
  border: 1px solid #EABE5E;
  background: transparent;
  color: #EABE5E;
}
.btn.btn-primary.btn-outline-primary:hover {
  border: 1px solid transparent;
  background: #EABE5E;
  color: #fff;
}
.btn.btn-white {
  background: #fff;
  border: 1px solid #fff;
  color: #000000;
}
.btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
  border: 1px solid #fff;
  color: #EABE5E;
}
.btn.btn-white.btn-outline-white {
  border-color: rgba(255, 255, 255, 0.8);
  background: none;
  border-width: 1px;
  color: #fff;
}
.btn.btn-white.btn-outline-white:hover, .btn.btn-white.btn-outline-white:focus, .btn.btn-white.btn-outline-white:active {
  background: #fff;
  border-color: #fff;
  color: #EABE5E;
}
.btn.btn-black {
  background: #000000;
  border: 1px solid #fff;
  color: #fff;
}
.btn.btn-black:hover, .btn.btn-black:focus, .btn.btn-black:active {
  border: 1px solid #fff;
  color: #fff;
}
.btn.btn-black.btn-outline-black {
  border-color: rgba(0, 0, 0, 0.8);
  background: none;
  border-width: 1px;
  color: #000000;
}
.btn.btn-black.btn-outline-black:hover, .btn.btn-black.btn-outline-black:focus, .btn.btn-black.btn-outline-black:active {
  background: #fff;
  border-color: #fff;
  color: #EABE5E;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


@media (max-width: 768px) {
  .menus {
    .text {
      width: 100%;
    }
    .menu-img {
      width: 100%;
      height: 230px;
    }
  }
}

@media (min-width: 576px) {
  .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .col-md-12 {
    height: 450px;
  }
  .menus {
    .menu-img {
      border-radius: 5px 5px 0 0;
    }
    .text {
      border-radius: 0 0 5px 5px;
    }
  }
}
