<div class="main-container">
    <div class="header">My orders</div>
    <ng-container *ngIf="!isLoading; else loader">
        <div class="items-container">
            <ng-container *ngIf="orders.length; else noData">
                <ng-container *ngFor="let order of orders; let i = index">
                    <div class="order-container">
                        <div class="header">
                            <div class="title">Order {{i + 1}}</div>
                            <ng-container *ngIf="userType === userTypes.admin; else defaultStatusTpl">
                                <ng-container [ngSwitch]="order.status">
                                    <div *ngSwitchCase="orderStatuses.pending" class="admin-buttons">
                                        <button [ngStyle]="{backgroundColor : getStatusColor(orderStatuses.accepted)}"
                                                class="status-large" (click)="acceptOrder(order.id)">Accept</button>
                                        <button [ngStyle]="{backgroundColor : getStatusColor(orderStatuses.rejected)}"
                                                class="status-large" (click)="rejectOrder(order.id)">Reject</button>
                                    </div>
                                    <div *ngSwitchCase="orderStatuses.accepted" class="admin-buttons">
                                        <button [ngStyle]="{backgroundColor : getStatusColor(orderStatuses.accepted)}"
                                                class="status-big" (click)="closeOrder(order.id)">Close Order</button>
                                    </div>
                                    <div *ngSwitchCase="orderStatuses.rejected" class="admin-buttons">
                                        <button [ngStyle]="{backgroundColor : getStatusColor(orderStatuses.rejected)}"
                                                class="status">Rejected</button>
                                    </div>
                                    <div *ngSwitchCase="orderStatuses.paid" class="admin-buttons">
                                        <button [ngStyle]="{backgroundColor : getStatusColor(orderStatuses.paid)}"
                                                class="status-big" (click)="closeOrder(order.id)">Close Paid Order</button>
                                    </div>
                                    <div *ngSwitchCase="orderStatuses.given" class="admin-buttons">
                                        <button [ngStyle]="{backgroundColor : getStatusColor(orderStatuses.given)}"
                                                class="status">Given</button>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <ng-template #defaultStatusTpl>
                                <button [ngStyle]="{backgroundColor : getStatusColor(order.status)}" class="status">
                                    {{getOrderStatus(order.status)}}</button>
                            </ng-template>
                        </div>
                        <ng-container *ngFor="let item of order.items">
                            <div class="single-item">
                                <div class="image">
                                    <img src="assets/images/mojito.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="name">{{item.name_en | titlecase}}</div>
                                    <div *ngIf="item.has_sugar" class="sub-name">
                                        Sugar: {{getSugarOption(item.order_options.sugar) | titlecase}}</div>
                                    <div class="sub-name">
                                        Add on: {{getAddOns(item.order_options.adding_ids) || '-'}}</div>
                                    <div class="quantity">x {{item.order_options.count}}</div>
                                </div>
                                <div class="price">{{item.order_options.price}} AMD</div>
                            </div>
                        </ng-container>
                        <div class="payment-type">
                            Payment type: {{getPaymentType(order.payment_type)}}
                        </div>
                        <div class="total-info">
                            <span>Total</span>
                            <span class="price">{{order.price}} AMD</span>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</div>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
<ng-template #noData>
    <div class="no-data-text">
        There are no orders to show.
    </div>
</ng-template>
