<div class="main-container">
    <div class="header">{{ 'HEADER.PAGE.ORDERS' | translate }}</div>
    <ng-container *ngIf="!isLoading; else loader">
        <div class="items-container">
            <ng-container *ngIf="orders.length; else noData">
                <ng-container *ngFor="let order of orders; let i = index">
                    <div class="order-container">
                        <div class="header">
                            <div class="title">{{ 'MAIN-PHRASES.ORDER.NAME' | translate }} {{i + 1}}</div>
                            <ng-container *ngIf="userType === userTypes.admin; else defaultStatusTpl">
                                <ng-container [ngSwitch]="order.status">
                                    <div *ngSwitchCase="orderStatuses.pending" class="admin-buttons">
                                        <button [ngStyle]="{backgroundColor : getStatusColor(orderStatuses.accepted)}"
                                                class="status-large" (click)="acceptOrder(order.id)">
                                            {{ 'BUTTONS.ACCEPT' | translate }}</button>
                                        <button [ngStyle]="{backgroundColor : getStatusColor(orderStatuses.rejected)}"
                                                class="status-large" (click)="rejectOrder(order.id)">
                                            {{ 'BUTTONS.REJECT' | translate }}</button>
                                    </div>
                                    <div *ngSwitchCase="orderStatuses.accepted" class="admin-buttons">
                                        <button [ngStyle]="{backgroundColor : getStatusColor(orderStatuses.accepted)}"
                                                class="status-big" (click)="markAsReady(order.id)">
                                            {{ 'BUTTONS.MARK-AS-READY' | translate }}</button>
                                    </div>
                                    <div *ngSwitchCase="orderStatuses.rejected" class="admin-buttons">
                                        <button [ngStyle]="{backgroundColor : getStatusColor(orderStatuses.rejected)}"
                                                class="status">{{ 'BUTTONS.REJECTED' | translate }}</button>
                                    </div>
                                    <div *ngSwitchCase="orderStatuses.ready" class="admin-buttons">
                                        <button [ngStyle]="{backgroundColor : getStatusColor(orderStatuses.ready)}"
                                                class="status-big" (click)="closeOrder(order.id)">
                                            {{ 'BUTTONS.CLOSE-PAID-ORDER' | translate }}</button>
                                    </div>
                                    <div *ngSwitchCase="orderStatuses.paid" class="admin-buttons">
                                        <button [ngStyle]="{backgroundColor : getStatusColor(orderStatuses.paid)}"
                                                class="status-big" (click)="closeOrder(order.id)">
                                            {{ 'BUTTONS.CLOSE-PAID-ORDER' | translate }}</button>
                                    </div>
                                    <div *ngSwitchCase="orderStatuses.given" class="admin-buttons">
                                        <button [ngStyle]="{backgroundColor : getStatusColor(orderStatuses.given)}"
                                                class="status">{{ 'BUTTONS.GIVEN' | translate }}</button>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <ng-template #defaultStatusTpl>
                                <button [ngStyle]="{backgroundColor : getStatusColor(order.status)}" class="status">
                                    {{getOrderStatus(order.status)}}</button>
                            </ng-template>
                        </div>
                        <ng-container *ngFor="let item of order.items">
                            <div class="single-item">
                                <div class="image">
                                    <img [src]="item.image_path" alt="">
                                </div>
                                <div class="info">
                                    <div class="name">{{item.name_en | titlecase}}</div>
                                    <div *ngIf="item.has_sugar" class="sub-name title-text">
                                        {{ 'PRODUCTS.PROPERTIES.SUGAR.NAME' | translate }}: {{getSugarOption(item.order_options.sugar) | titlecase}}</div>
                                    <div class="sub-name">
                                        <div class="title-text">{{ 'PRODUCTS.PROPERTIES.ADD-ON' | translate }}: </div>
                                        <div class="main-text">
                                            <ng-container *ngIf="item.order_options.adding_ids.length; else noAddingTpl">
                                                <ng-container *ngFor="let id of item.order_options.adding_ids">
                                                    <span class="add-on-text">{{getAddingName(item, id) | titlecase}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-template #noAddingTpl>
                                                <span class="add-on-text">-</span>
                                            </ng-template>
                                        </div>
                                    </div>
                                    <div class="sub-name">
                                        <div class="title-text">{{ 'PRODUCTS.PROPERTIES.QUANTITY' | translate }}: </div>
                                        <div class="main-text">x {{item.order_options.count}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom price">{{item.order_options.price}} AMD</div>
                        </ng-container>
                        <div class="payment-type">
                            {{ 'MAIN-PHRASES.PAYMENT-TYPE.NAME' | translate }}: {{getPaymentType(order.payment_type)}}
                        </div>
                        <div class="payment-type">
                            {{ 'MAIN-PHRASES.ORDER.NOTES' | translate }}: {{order.note || '-'}}
                        </div>
                        <div class="total-info">
                            <span>{{ 'MAIN-PHRASES.TOTAL' | translate }}</span>
                            <span class="price">{{order.price}} AMD</span>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</div>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
<ng-template #noData>
    <div class="no-data-text">
        {{ 'MESSAGES.ORDERS-NOT-FOUND' | translate }}
    </div>
</ng-template>
