.main-container {
    display: inline-block;
    width: 100%;
    padding: 120px 50px 50px 50px;

    .items-container {
        margin-bottom: 20px;
        .order-container {
            border: 1px solid #e6e6e6;
            border-radius: 5px;
            margin-bottom: 20px;
            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #e6e6e6;
                margin: 0 10px -10px 10px;
                .title {
                    font-size: 24px;
                    font-weight: bold;
                }
                .status {
                    padding: 5px;
                    border-radius: 20px;
                    width: auto;
                    height: 30px;
                    color: #ffffff;
                    border: none;
                    text-transform: uppercase;
                    pointer-events: none;
                }
                .status-large {
                    @extend .status;
                    cursor: pointer;
                    pointer-events: auto;
                    &:first-child {
                        margin-right: 10px;
                    }
                }
                .status-big {
                    @extend .status-large;
                    &:first-child {
                        margin-right: 0;
                    }
                }
            }
            .single-item {
                display: flex;
                align-items: center;
                margin: 10px;
                padding-top: 10px;
                font-size: 20px;
                .name {
                    font-weight: bold;
                    color: #EABE5E;
                }
                .sub-name {
                    display: flex;
                    align-items: baseline;
                    font-size: 16px;
                    line-height: 24px;
                    .title-text {
                        width: fit-content;
                        margin-right: 5px;
                    }
                    .main-text {
                        display: flex;
                        flex-direction: column;
                    }
                }
                .image {
                    margin-right: 60px;
                    img {
                        height: 160px;
                        width: auto;
                    }
                }
                .price {
                    align-self: end;
                    margin-left: auto;
                }
            }
            .bottom {
                display: flex;
                justify-content: flex-end;
                margin: 0 10px 10px 10px;
                border-bottom: 1px solid #e6e6e6;
            }
            .total-info {
                font-size: 24px;
                display: flex;
                justify-content: space-between;
                padding: 5px 10px;
                font-weight: bold;
                .price {
                    color: #EABE5E;
                }
            }
            .payment-type {
                @extend .total-info;
                padding: 0 10px;
                font-size: 16px;
                line-height: 16px;
            }
        }

    }

    .header {
        margin-bottom: 55px;
        font-size: 26px;
        text-transform: capitalize;
        font-weight: 600;
        border-bottom: 1px solid #666666;
    }
}

.no-data-text {
    font-size: 18px;
    color: #969595;
    text-align: center;
}


@media (max-width: 768px) {
    .main-container {
        padding: 120px 20px 50px 20px;
        .items-container {
            .order-container {
                .single-item {
                    .image {
                        margin-right: 20px;
                        img {
                            height: 100px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .main-container {
        .items-container {
            .order-container {
                .total-info {
                    font-size: 20px;
                }
                .payment-type {
                    font-size: 12px;
                    line-height: 14px;
                }
                .header {
                    .title {
                        font-size: 20px;
                    }
                    .status {
                        width: 94px;
                        height: 24px;
                        font-size: 12px;
                    }
                    .status-big {
                        width: 124px;
                    }
                }
                .single-item {
                    .name, .quantity {
                        font-size: 18px;
                    }
                    .price {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .main-container {
        .items-container {
            .order-container {
                .single-item {
                    .sub-name {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width: 460px) {
    .main-container {
        .items-container {
            .order-container {
                .single-item {
                    .sub-name {
                        font-size: 12px;
                        max-width: 120px;
                    }
                }
            }
        }
    }
}
