::ng-deep {
    mat-dialog-container {
        background-color: #f2f2f0 !important;
        padding: 24px 14px !important;
    }
}

mat-dialog-actions {
    justify-content: space-evenly;
    .btn {
        border-radius: 15px;
    }
}

mat-dialog-content {
    margin: 0 -14px !important;
    padding: 0 14px !important;
    .description {
        text-align: center;
        font-size: 20px;
        color: #969595;
    }
}
