<section class="ftco-section" *ngIf="!isLoading; else loader">
    <div class="container">
        <div class="ftco-search">
            <div class="row">
                <div class="col-md-12 nav-link-wrap">
                    <div aria-orientation="vertical" class="nav nav-pills d-flex text-center" id="v-pills-tab"
                         role="tablist">
                        <ng-container *ngFor="let category of productCategories">
                            <a (click)="selectCategory(category)" [class.active]="category.selected"
                               [routerLink]="['/dashboard/menu', category.id]"
                               class="nav-link ftco-animate"
                               data-toggle="pill"
                               role="tab">{{ getCategoryName(category) | titlecase }}</a>
                        </ng-container>
                    </div>
                </div>
                <app-product-listing [products]="products"></app-product-listing>
            </div>
        </div>
    </div>
    <span class="icon-up up-icon" (click)="goToTheTop()"></span>
</section>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
<app-footer></app-footer>
