<div class="cart-container">
    <div class="header">{{ 'HEADER.PAGE.CART' | translate }}</div>
    <ng-container *ngIf="!isLoading; else loader">
        <div class="items-container">
            <ng-container *ngIf="!cartIsEmpty; else noData">
                <ng-container *ngFor="let item of products">
                    <app-cart-single-item (itemDeleted)=deleteItemFromCart($event)
                                          (cartUpdated)="updateCartData($event)"
                                          [product]="item"></app-cart-single-item>
                </ng-container>
            </ng-container>
        </div>
        <ng-container *ngIf="!cartIsEmpty">
            <div class="total-amount">
                {{ 'MAIN-PHRASES.TOTAL-AMOUNT' | translate }}: <span class="price">{{total_price}} AMD</span></div>
            <div class="button-container">
                <button class="btn btn-primary" (click)="confirmOrder()">
                    {{ 'BUTTONS.MAKE-ORDER' | translate }}</button>
            </div>
        </ng-container>
    </ng-container>
</div>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
<ng-template #noData>
    <div class="no-data-text">
        {{ 'MESSAGES.NOT-FOUND' | translate }}
    </div>
</ng-template>
