<div class="col-md-12 tab-wrap">
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
<!--      ngFor for products-->
      <div class="row no-gutters d-flex align-items-stretch">
        <app-product-single></app-product-single>
        <app-product-single></app-product-single>
        <app-product-single></app-product-single>
        <app-product-single></app-product-single>
      </div>
    </div>
  </div>
</div>
